*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(248, 231, 76);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}
.container .toggle{
    width: 90px;
    height: 50px;
    background: rgb(50, 49, 49);
    border-radius: 30px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding: 5px;

}
.container .toggle.active{
    background: rgb(4, 154, 254);
   justify-content: end;
}

.container .toggle .toggle-button{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.container .text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}
